fastapi
uvicorn[standard]
pydantic
pydantic[email]==2.5.3
sqlalchemy
bcrypt
python-jose[cryptography]
passlib
python-multipart
python-dotenv
agno
ollama
lancedb
psycopg2-binary
pypdf
python-docx
unstructured[pdf,docx]
pytest
httpx
pytest-asyncio
lxml_html_clean
yfinance
tantivy